<template name="main">
  <div class="products list">
    <ul>
      {{#each drinks}}
        <li><a id="drink01">
          <img src="{{imgURL}}" alt="{{name}}">
          <button class="confirm">Confirm</button>
          <h3>{{name}}</h3>
        </a></li>
      {{/each}}
    </ul>
  </div>
  <div class="payment list">
    <ul>
      {{#each currency}}
        <li><a id="{{_id}}">
          <img src="{{imgURL}}" alt="{{value}}">

          <h3>{{value}}</h3>
        </a></li>
      {{/each}}
    </ul>

    <div class="total">
      <p><strong>Total</strong> $<span>{{total}}</span></p>
      <button class="btn" id="clearTotal" {{paymentDisabledAttr}}>Cancel</button>
      <button class="btn" id="makePayment" {{paymentDisabledAttr}}>Pay</button>
      {{getMessage}}
    </div>
  </div>
  <div class="transactions">
    <!-- maybe replace consumedName with a random word relating to consuming a drink (Drank, Skol, Consumed, Refilled with a, Topped us their X levels -->
    <ul>
      {{#each userActions}}
        <li class="{{type}}">
          <p>{{date}}</p>
          <p>{{description}}</p>
        </li>
      {{/each}}
    </ul>

  </div>
  <footer>
    <p>You owe: $ {{getAmountOwing}}</p>
  </footer>
</template>

