$blue: #008bcc;
$green: #60bb52;
$grey: #ccc;

$font: 'Roboto', Helvetica, Arial, Sans-serif;

@import 'media-queries.scss';
@import "bourbon/bourbon";
//@import "neat/neat";


html {
  background: #fff;
  color: #333;
  font-family: $font;
  font-size: 10px;
}

html, body {
  background: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a,
button {
  @include transition(all, 300ms, ease);
}

.site {
  min-height: 100%;
  margin-bottom: -48px;
  &:after {
    content: '';
    height:48px;
    display: block;
  }
}

header {
  background: $green;
  width: 100%;
  padding: 6px 25px;
  overflow: hidden;
  clear: both;
  border-top: 8px solid #3da247;
  border-bottom: 1px solid #3da247;
  h2 {
    background: url(images/logo.png) no-repeat;
    width: 190px;
    height: 43px;
    margin-top: 10px;
    float: left;
    font-weight: 700;
    text-indent: -5000em;
    @include max-screen(520px) {
      margin-bottom:20px;
      float: none;
    }
  }
  p {
    margin-left: 20px;
    float: left;
    font-size: 2rem;
    line-height: 60px;
    font-style: italic;
  }
  .user {
    float: right;
    cursor: pointer;
    @include max-screen(520px) {
      display: block;
      float: none;
    }
    span {
      margin-right: 10px;
      float: left;
      font-size: 20px;
      text-transform: uppercase;
      line-height: 60px;
    }
    img {
      width: 60px;
      float: left;
    }
  }
  .user-list {
    background: #999999;
    width: 100%;
    height: 100%;
    padding: 25px;
    overflow: hidden;
    position:absolute;
    top: 80px;
    left: 0;
    z-index: 100;
    ul {
      overflow: hidden;
    }
    li {
      width: 20%;
      margin: 0 2.8% 25px;
      float: left;
      &:nth-child(4n+4) {
        margin-right: 0;
      }
      img {
        width: 100%;
        height: auto;
        display: block;
      }
      h3 {
        display: none;
        text-align: center;
      }
    }
  }
}
.list {
  padding: 25px 50px;
  overflow: hidden;
  clear: both;
  ul {
    overflow: hidden;
  }
  li {
    float: left;
    img {
      width: 100%;
      height: auto;
    }
  }
}
.total {
  font-size: 2rem;
}
.products {
  li {
    width: 30%;
    margin-right: 5%;
    position: relative;
    &:nth-child(3n+3) {
      margin-right: 0;
    }
    a:hover {
      img {
        opacity: 0.6;
      }
    }
    img {
      width:70%;
      height: auto;
      margin:0 auto 5px;
      display: block;
    }
    button {
      display:block;
      background: $blue;
      margin: -25px 0 0 -70px;
      padding: 10px 25px;
      opacity:0;
      position: absolute;
      top: 50%;
      left: 50%;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-size: 1.9rem;
      text-transform: uppercase;
      text-shadow: 1px 1px 2px rgba(0 ,0, 0, 0.6);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
      &.show {
        opacity:1.0;
      }

    }
    h3 {
      display: none;
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
    }
    h4 {
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
    }
  }
  .total {
    float: right;
  }
}

.payment {
  background: #f3f3f3;
  padding-bottom:20px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  li {
    background: $blue;
    width: 31.13%;
    height: 80px;
    margin-right: 3.3%;
    margin-bottom: 15px;
    position: relative;
    border-radius: 5px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
    &:nth-child(3n+3) {
      margin-right:0;
    }
    &:hover h3 {
      color: #333;
    }
    a:hover {
      opacity: 1;
    }
    img {
      display: none;
    }
    h3 {
      color: #fff;
      font-size:5rem;
      text-align: center;
      line-height: 80px;
      @include max-screen(520px) {
        font-size: 3rem;
      }
      &:before {
        content: '$';
      }
    }
  }
  .total {
    float: right;
    p {
      margin-right: 20px;
      float: left;
      line-height: 36px;
      text-transform: uppercase;
      @include max-screen(400px) {
        float: none;
      }
    }
  }
  button {
    background: $blue;
    padding: 3px 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    &[disabled] {
      background: $grey;
    }
  }
}
.transactions {
  overflow: scroll;
  li {
    background: #00a2dd;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding: 4px 10px 4px 90px;
    border-bottom: 1px solid #14729b;
    color: #fff;
    font-size: 1.5rem;
    &.payment {
      background-image: url(images/payment.png);
    }
    &.purchase {
      background-image: url(images/purchase.png);
    }
    &:nth-child(2n+2) {
      background-color: #008bcc;
    }
  }
}

footer {
  background: $green;
  width: 100%;
  height:48px;
  padding: 10px 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  clear: both;
  border-top: 4px solid #3da247;
  p {
    float: right;
    color: #333;
    font-size: 2rem;
    text-transform: uppercase;
  }
}