<template name="header">
  <h2>Drinks App <!-- name ot be improved --></h2>

  <div class="user">
    <a id="selectUser" title="Select a user">
      <span id="staffName">{{currentUser}}</span>
      <img src="{{currentProfilePic}}">
    </a>
  </div>
  <div id="users" class="user-list">
    <ul>
      {{#each users}}
      <li><a id="{{_id}}">
        <img src="{{imgURL}}" alt="{{name}}">
        <h3>{{name}}</h3>
      </a></li>
      {{/each}}
    </ul>
  </div>
</template>