<template name="admin">
  <div class="products list">
    <ul>
        {{#each drinks}}
          <li>
            <a id="drink01">
              <img src="{{imgURL}}" alt="{{name}}">
              <button class="confirm">Confirm</button>
              <h3>{{name}}</h3>
            </a>
            <h4>Total: {{numStock}}</h4>
          </li>

        {{/each}}
    </ul>

  </div>
</template>